body{
    margin: 6px;
    padding: 10px;
    font-family: sans-serif;
}

#title {
    text-align: center;
    display: block;
}

.school{
    text-align: center;
}

.btn-dark{
    background-color: rgb(201, 88, 13); 
}

.textcontrol{
    color: black;
}

li{
    list-style-type: none;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}