@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Poppins;
    font-size: 12pt;
    text-align: center;
    color: black
}

body{
    min-height: 100vh;
    background-image: url(../liquid-marbling-paint-texture-background-fluid-painting-abstract-texture-intensive-color-mix-wallpaper.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: right;
}

.wrapper {
    box-sizing: border-box;
    background-color:white;
    height: 100vh;
    width: max(40%, 450px);
    padding: 25px;
    border-radius: 0 45px 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

form{
    width: min(250px, 100%);
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
}

form > div{
    width: 125%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 45px;
    width: 45px;
    background-color: rgba(86, 19, 141, 0.87);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    font-weight: 500;
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 45px;
    padding: 1rem;
    font: icon;
    border-radius: 0 10px 10px 0;
    border: none;
    transition: 200ms solid;
    background-color: rgba(113, 68, 155, 0.384);
    border-left:none;

}

form input:hover{
  border: 1px solid rgba(86, 19, 141, 0.87);
}

form input:focus{
    outline: none;
    border-color: rgba(86, 19, 141, 0.87);
}

div:has(input:focus) > label{
    background-color: rgb(73, 56, 224);
    transition:150ms;
}

form input::placeholder{
    color: rgba(0, 0, 0, 0.623);
}
form button{
    margin-top: 30px;
    border: none;
    padding: .85em 4em;
    border-radius: 1000px;
    background-color:rgba(86, 19, 141, 0.87);
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 500ms ease;
}

form button:hover{
    background-color: rgb(73, 56, 224);
}

form button:focus{
    outline: none;
    background-color:rgba(86, 19, 141, 0.87);
}

a{
    text-decoration: none;
    color:rgba(86, 19, 141, 0.87) ;
}

a:hover{
   text-decoration: underline;
}
@media(max-width: 1100px){
    .wrapper{
        width: min(600px, 100%);
    }
}

.incorrect label{
    background-color: rgba(170, 58, 58, 0.959);
}
form div.incorrect input{
    border-color: rgba(170, 58, 58, 0.959);
}