*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: rgb(73, 18, 175);
    text-align: center;
    
}


a{
    text-decoration: none;
    color: black;

}

ul{
    margin: 1em;
    padding: 10px;
    display: flex;
    flex-direction: column;
}



